header{
    width: 30px;
    padding: 20px;
}
section{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    text-align: justify;
}
article{
    /*border-radius: 10px;*/
    padding: 14px;
}